*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
/* TOP HEADER SECTION START  */
.container{
    width:1170px;
    margin:auto;
    overflow:hidden;
}
.container_img{
    width:1170px;
    margin:auto;
    overflow:hidden;
    height:100%;
}
.top_header{}
.top_head_menu{
    width:100%;
    float:left;
}
.top_head_menu ul{
    width:90%;
    overflow:hidden;
    float:left;
}
.top_head_menu ul li{
    list-style:none;
    float:left;
}
.top_head_menu ul li i{
    padding-right:10px;
}
.top_head_menu ul li a{
    text-decoration: none;
    padding: 15px 20px;
    display:block;
    border-right:1px solid #E9E9E9;
    color:#9C9C9C;
}
.top_head_menu ul:first-child{
    border-left:1px solid #E9E9E9;
}
.top_head_menu select{
    width:10%;
    float:right;
    padding:15px 0px;
    border:none;
    border-right:1px solid #E9E9E9;
    border-left:1px solid #E9E9E9;
    color:#9C9C9C;
}
/* TOP HEADER SECTION END */
/* ======================================== */
/* DOWN HEADER SECTION START */
.down_header{
    background: #272F4F;
}
.logo{
    width:20%;
    float:left;
    text-transform: uppercase;
}
.logo h1{
    color:white;
    padding:35px 0px;
}
.menu{
    width:80%;
    float:left;
    height: 101px;
}
.menu ul{
    float: right;
}
.menu ul li{
    list-style:none;
    float:left;
}
.menu ul li a{
    color:white;
    padding:40px 20px;
    display:block;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
.menu ul li a:hover{
    color:#DBA50C;
    border-bottom: 3px solid #DBA50C;
    box-sizing: border-box;
}
/* DOWN HEADER SECTION END */
/* ======================================== */
/* IMAGE SECTION START */
.img_section{
    background:linear-gradient(#0000007a,#0000007a),url("images/photo_2019-11-18_21-16-08.jpg")no-repeat;
    background-size:cover;
    height:600px;
    position: relative;
}
.img_txt{
    width:50%;
    color:white;
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
}
.img_txt h1{
    font-size:40px;
    text-transform: capitalize;
    margin-bottom:20px;
}
.img_txt h1 span{
    color:#FDBC00;
    text-transform: capitalize;
}
.img_txt p{
    line-height: 1.5;
}
.img_txt button{
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid black;
    margin-right: 15px;
    margin-top:30px;
    color:white;
    transition: 0.5s;
}
.w_v{
    background:black;
}
.b_n{
    background:none;
}
.w_v:hover{
    background:#FDBC00;
    border:1px solid #FDBC00;
}
.b_n:hover{
    background:#FDBC00;
    border:1px solid #FDBC00;
}
/* IMAGE SECTION END  */
/* =============================== */
/* OUR AWESOME SERVICE SECTION START */
.o_a_s{
    padding:100px 0px;
}

.oas_txt{
    text-align:center;
    text-transform: capitalize;
}
.oas_txt h1{
    margin-bottom: 20px;
    font-weight: 300;
    font-size:30px;
}
.oas_txt h1 span{
    font-weight:bold;
}
.oas_txt p{
    line-height: 1.5;
    color:#7F93C3;
}
.all_oas_box {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.oas_box{
    width: 30.33%;
    float:left;
    text-align:center;
    margin-top:50px;
}
.oas_box img{
    width:20%;
    margin:auto;
    display:block;
}
.oas_box p{
    color:#7F93C3;
    line-height: 1.5;
}
.oas_box h3{
    padding:20px 0px;
}
/* OUR AWESOME SERVICE SECTION END */
/* ================================================= */
/* OUR GOAL SERVICE SECTION START */
.our_goal{
    background:#151C3D;
    padding:100px 0px;
}
.og_txt{
    width: 48%;
    color:white;
}
.og_txt h3{
    font-size:30px;
    font-weight: 300;
}
.og_txt h3 span{
    font-weight: bold;
}

.og_txt p{
    padding:20px 0px;
    line-height: 1.5;
}
.og_boxs{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}
.og_box{
    width: 48%;
    border:1px solid white;
    text-align: center;
    padding:50px 0px;
    transition:0.5s;
    margin-top: 25px;
}
.og_box:hover{
    background:#FDBC00;
    border:1px solid #FDBC00;
}
.og_box h1{
    margin-bottom: 10px;
}
.og_box h4{
    text-transform: uppercase;
}
/* OUR GOAL SERVICE SECTION END */
/* ===================================== */
/*OUR WONDERFUL GALLAREY SERVICE SECTION START  */
.our_wonderful_gallarey {
    padding: 100px 0px;
    background:#F4F8FF;
}
.owg_txt{
    text-align:center;
    text-transform: capitalize;
    margin-bottom: 50px;
}
.owg_txt h1{
    margin-bottom: 20px;
    font-weight: 300;
    font-size:30px;
}
.owg_txt h1 span{
    font-weight:bold;
}
.owg_txt p{
    line-height: 1.5;
    color:#7F93C3;
}
.og_all_conten {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.orb_b {
    display: flex;
    justify-content: space-between;
}

.all_img_box {
    display: flex;
    justify-content: space-between;
}
.box_img{
    width: 32%;
    border-radius: 20px;
}
.box_img img{
    width:100%;
    border-radius: 20px;
}.img{
    height: 523px;
}
.img2{
    height:312px;
    width:100%;
}
.img2 img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.img6{
    width:100%;
    height: 310px;
}
.img6 img{
    width:100%;
    height:310px;
}
.img1{
    height: 500px;
}
.img1 img{
    height:100%;
}
.img1, .img2, .img3, .img4, .img5, .img6{
    position: relative;
    margin-top: 23px;
}
.front{
    position: absolute;
    border:1px solid black;
    width:100%;
    text-align:center;
    background:black;
    color:white;
    height:100%;
    top:0;
    left:0;
    border-radius: 20px;
    transform: scale(0);
    transition:0.5s;
}

.f_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.f_txt img{
    width:40px;
    height:40px;
    border-radius: 0px;
    margin-top:30px;
    transition:0.5s;
}
.f_txt img:hover{
    background: #D29F0F;
    padding:10px;
}
.f_txt h1{
    margin-bottom: 5px;
}
.img1:hover .front{
    transform: scale(1);
}
.img2:hover .front{
    transform: scale(1);
}
.img3:hover .front{
    transform: scale(1);
}
.img4:hover .front{
    transform: scale(1);
}
.img5:hover .front{
    transform: scale(1);
}
.img6:hover .front{
    transform: scale(1);
}

/* OUR WONDERFUL GALLAREY SERVICE SECTION   */
/* ======================================== */
/* WHAT WE DO SERVICE SECTION STAR */
.What_We_Do{
    padding: 100px 0px 65px 0px;
}
.wwd_img{
    width:50%;
    float:left;
}
.wwd_txt{
    width:50%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wt_box{
    width: 30%;
    border:1px solid #F1F1F1;
    text-align:center;
    padding:10px;
    margin-bottom:30px;
    height: 190px;
    cursor: pointer;
}
.wt_box img{
    width:50px;
    margin-bottom:10px;
}
.wt_box h1{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size:20px;
}
.wt_box p{
    line-height: 1.5;
    color:#837F7F;
}
/* WHAT WE DO SERVICE SECTION END */
/* =================================== */
/* GIRAL AND CONTENT SECTION START */
.girl_content{
    overflow:hidden;
}
.left_content{
    width:50%;
    float: left;
    background:#C3CAD2;
    height:500px;
    padding-top:65px;

}
.container_li_r{
    width:585px;
    float: left;
    padding-left:50px;
}
.container_li{
   width:585px;
   float:right;
}
.right_content{
    width:50%;
    float: left;
    background:black;
    height:500px;
    padding-top:65px;
}
.r_c{}
.r_box{
    width:100%;
    color:white;
    margin-bottom:50px;
}
.f_img{
    width:70px;
    height:70px;
    background:white;
    border-radius: 50%;
}
.r_box_img{
    width:20%;
    height:100px;
    float:left;
}
.r_box_img img{
    width:70px;
    display:block;
    height:70px;
    padding:15px;
    margin:auto;
}
.r_box_txt h3{
    margin-bottom:10px
}
.r_box_txt h3:hover{
    color:#EFBD00;
}
.r_box_txt p{
    line-height: 1.5;
}
/* GIRAL AND CONTENT SECTION END */
/* =========================================== */
/* Get Newsletter SECTION START */
.get_news{
    background:#F4F8FF;
    padding:100px 0px;
}
.gn_l{
    width:50%;
    float:left;
}
.gn_l h1{
    margin-bottom: 20px;
    font-weight: 400;
    font-size:35px;
}
.gn_l p{
    padding-right: 30px;
    line-height: 1.5;
    color:#7F91C3;
}
.gn_l h1 span{
    font-weight:bold;
}
.gn_r{
    width:50%;
    float: right;
    margin-top:27px;
}
.gn_r input{
    width:65%;
    padding:18px 10px;
    outline: none;
    border:2px solid black;
}

.gn_r input:focus{
    color:black;
    border:2px solid #EFBD00;
}

.gn_r button{
    width:30%;
    float:right;
    padding:20px;
    background:black;
    color:white;
    border:none;
    outline:none;
    transition:0.5s;
}
.gn_r button:hover{
    background:#EFBD00;
}
/* Get Newsletter SECTION END */
/* =================================== */
/* OUR RECENT BLOG SECTION START */
.orb_container{
    width:1170px;
    margin:auto;
    overflow:hidden;
    height: 649px;
}
.our_recent_blog{
    padding:100px 0px;
}
.orb_box{
    width: 32%;
    text-align:center;
    border:1px solid #ECECEC;
    margin-top:50px;
    padding:40px;
    border-radius: 20px;
    position: relative;
}
.orb_img{
    width:300px;
    overflow:hidden;
}
.orb_box img{
    width:300px;
    margin:auto;
    display:block;
    transition: 1s;
}
.orb_box:hover img{
    transform: scale(1.3);
}
.orb_box p{
    color:#7F93C3;
    line-height: 1.5;
}
.orb_box h3{
    padding:20px 0px;
    transition: 1s;
}
.orb_box:hover h3{
    color:#EFBD00;
 }
.orb_btn{
    position: absolute;
    padding: 15px 35px;
    background:#FEBD00;
    border:none;
    border-radius: 30px;
    color:white;
    font-size:20px;
    outline:none;
    bottom: -24px;
    left: 95px;
}
.orb_btn:hover{
    background:black;
}
/* OUR RECENT BLOG SECTION END  */
/* ======================================== */
/* VIDEO SECTION START */
.video_section{
    background:linear-gradient(#000000c2,#000000c2 ) ,url("images/ia_300000075.jpg") no-repeat;
    background-size:cover;
    height: 700px;
    padding:100px 0px;
}
.v_s_c{
    position: relative;
    height:500px;
}
.vs_txt{
    position: absolute;
    text-align:center;
    text-transform: capitalize;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
}
.vsc_img{
    position: relative;
    width:150px;
    margin:auto;
}
.vsc_img span{
    background: #666C83;
    width: 130px;
    height: 130px;
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
    border-radius: 50%;
    z-index: -1;
    transform:scale(0);
    transition:0.5s;
}
.vsc_img:hover span{
    transform:scale(1);
}
.vs_txt h3{
    margin-bottom: 20px;
    font-weight: 300;
    font-size:30px;
    padding-top:50px;
    padding-bottom:15px
}
.vs_txt h3 span{
    font-weight:bold;
}
.vs_txt p{
    line-height: 1.5;
    color:#7F93C3;
}
/* VIDEO SECTION END */
/* ================================== */
/* CLIENT TESTIMONIAL SECTION START */
.client_testimonial{
    padding:100px 0px;
}
.ct_size{
    width:770px;
    margin:auto;
    overflow: hidden;
    padding:50px 0px;
    text-align:center;
}
.ct_box{
    width:33.33%;
    float:left;
    border:1p solid black;
}
.ct_box{}
.ct_box h3{
    text-transform:uppercase;
    margin-bottom:20px;
    margin-top:10px;
}
.ct_box p{
    text-transform:capitalize;
    color:#8E8E8E;
}
.ct_box img{
    background:#C2C9D1;
}
.ct_footer{
    width:770px;
    margin:auto;
    padding-top:50px;
    line-height: 1.5;
    text-align:center;
    color:#8E8E8E;
}
/* CLIENT TESTIMONIAL SECTION END */
/* ==================================== */
/* ALL LOGO SECTION START */
.al_c {
    display: flex;
    align-items: center;
}
.all_logo{
    padding:50px 0px;
    background:#FEBD00;
}
.al_box{
    width:20%;
    float:left;
}
.al_box img{
 
}
/* ALL LOGO SECTION END */
/* ==================================== */
/* GET IN TOUCH SECTION START */
.get_in_touch{
    padding:100px 0px;
}
.get_content{
    width:970px;
    margin:auto;
    margin-top:50px;
}
.g_b{
    width:33.33%;
    border-left:1px solid black;
    float:left;
    line-height:1.5;
    padding-left:10px;
}
.from_section{
    width:970px;
    margin:auto;
    margin-top:30px;
}
.all_input{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form input{
    width: 48%;
    padding:15px;
    border:1px solid #EDEDED;
    outline:none;
    margin-bottom:30px;
}
input:focus{
    box-shadow: 2px 2px 5px 0 #f8b2b2;
    border:1px solid #7BCF44;
    outline:1px solid #7BCF44;
}
form{
    text-align: center;
}
form textarea{
    width:100%;
    height:133px;
    border:1px solid #EDEDED;
}
textarea:focus{
    box-shadow: 2px 2px 5px 0 #f8b2b2;
    border:1px solid #7BCF44;
    outline:1px solid #EDEDED;
}
form button{
    padding:15px 50px;
    background:#FEBD00;
    color:white;
    text-transform:uppercase;
    text-align:center;
    border:none;
    outline:none;
    margin-top:30px;
}
/* GET IN TOUCH SECTION END */
/* ============================== */
/* FOOTER SECTION START */
.footer{
    background:#191F3F;
    padding:100px 0px;
}
.f_c{
    color:white;
    display:flex;
    justify-content: space-between;
}
.footer_content{
    width:31%;
}
.footer_content h1{
    padding:20px 0px;
}
.footer_content p{
    line-height:1.5;
    margin-bottom: 30px;
}
.footer_content ul{
    overflow: hidden;
}
.footer_content ul li{
    list-style:none;
}
.footer_content ul li a{
    color:white;
    text-decoration:none;
    padding:10px 0px;
    display:block;
    transition:0.5s;
}
.footer_content ul li a:hover{
    color:#DBA409;
}
.second_ul{
    margin-bottom:20px
}
.second_ul li{
    float:left;
     padding:10px 25px;
}
.second_ul_s li{
    float:left;
    padding:10px 25px;
}
.lm_c{
    display:flex;
    justify-content: space-between;
    margin:30px 0px;
}
.im_c_i img{
    width:120px;
}
.im_c_t{
    width:225px;
}

/* FOOTER SECTION END  */